@import "tailwindcss";

/* Hide Google Translate elements */
.goog-te-banner-frame.skiptranslate,
.goog-te-balloon-frame,
#goog-gt-tt,
.goog-logo-link,
.goog-te-gadget {
  display: none !important;
}

body,html {
  top: 0px !important;
  position: static !important;
  overflow-x: hidden;
}

.skiptranslate {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}
